<!--
<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
-->

<div>
<h2>Here is the current listing of all the Patients. Click "Place Order" to add an order.</h2>

</div>

<div>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Room Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>MRN</th>
          <th>Order</th>
        </tr>
      </thead>
    
      <tbody>
        <% @patients.each do |session| %>
          <tr>
            <td><%= session.room.rmnumber %></td>
            <td><%= session.fname %></td>
            <td><%= session.lname %></td>
            <td><%= session.MRN %></td>
            <td><%= session.diet.name %></td>
            <td>
                <%= link_to 'Place Order', controller: 'orders', action: 'new', id: session.id %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>