
<% provide(:title, "Add Order") %>
<div style="background-color: #CCFFFF">
    <h4>Patient name:&nbsp; <%= @first %>&nbsp;<%= @last %> </br>
    Room: <%=@roomnumber %>, Phone Number: <%=@phone %> </br>
    Diet: <%=@diet %>
    </h4>
</div>
<div class="jumbotron">
    <B>Item name:</B>
    
    <div id="currentOrder" style="overflow-y: scroll; height:200px;">
       
    </div>
    </br>
    <div id = "submit">
        <a href="#" id=<%=@id %> class="mybutton myblue">
            <button class="btn btn-info">Submit Order</button>
    </div>
    </br>
    <div id="FoodCategories">
       <% @foods.each do |food, index| %>
       <a href="#" id=<%= food.id %> class="mybutton myblue">
            <button class="btn btn-success"><%= food.name %></button>
        <% end %>
    </div>
    <br>
    <div id="food">
    
        
    </div>
</div>
          

