<!--
<h1>Patients#new</h1>
<p>Find me in app/views/patients/new.html.erb</p>
-->

<div id="buttons" align="center">
    <a href="#" id="1" class="mybutton myred">
        <button class="btn btn-primary">Add Patients</button>
    </a>
    <a href="#" id="2" class="mybutton myblue">
        <button class="btn btn-success">Modify Patients</button>
    </a>
</div>

<div id="pages">
    <div id="1" class="mydivhide">
        <%= form_for(@patient) do |f| %>
          <%= render 'shared/error_patient_messages' %>
    
          <%= f.label :First_Name%>
          <%= f.text_field :fname, class: 'form-control' %>
    
          <%= f.label :Last_name %>
          <%= f.text_field :lname, class: 'form-control' %>
    
          <%= f.label :MRN %>
          <%= f.number_field :MRN, class: 'form-control' %>
    
          <%= f.label :SSN %>
          <%= f.number_field :SSN, class: 'form-control' %>
          
          <%= f.label :birthday %>
          <%= f.date_field :birthday, class: 'form-control' %>
          
          <%= f.label :Room_number %>
          <%= f.select(:room_id, options_for_select(@room.collect{ |u| [u.rmnumber, u.id] })) %>
          
          <%= f.label :Diet %>
          <%= f.select(:diet_id, options_for_select(@diet.collect{ |u| [u.name, u.id] })) %>
    
          <%= f.submit "Add New Patient", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div id="2" class="mydivhide">
        <table class="table table-striped" >
          <thead>
            <tr>
              <th>Room Number</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>MRN</th>
              <th>Order</th>
            </tr>
          </thead>
        
          <tbody>
            <% @patients.each do |session| %>
              <tr>
                <td><%= session.room.rmnumber %></td>
                <td><%= session.fname %></td>
                <td><%= session.lname %></td>
                <td><%= session.MRN %></td>
                <td><%= session.diet.name %></td>
                <td>
                    <%= link_to 'Change Information', controller: 'patients', action: 'edit', id: session.id %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
</div>