<!--
<h1>Patients#new</h1>
<p>Find me in app/views/patients/new.html.erb</p>
-->

<div id="buttons" align="center">
    <a href="#" id="1" class="mybutton myred">
        <button>Add Patients</button>
    </a>
    <a href="#" id="2" class="mybutton myblue">
        <button>Modify Patients</button>
    </a>
    <a href="#" id="3" class="mybutton myblue">
        <button>Change Location??</button>
    </a>
    <a href="#" id="4" class="mybutton myblue">
        <button>Something</button>
    </a>
</div>

<div id="pages">
    <div id="1" class="mydivhide">
        <%= form_for(@patient) do |f| %>
          <%= render 'shared/error_patient_messages' %>
    
          <%= f.label :First_Name%>
          <%= f.text_field :fname, class: 'form-control' %>
    
          <%= f.label :Last_name %>
          <%= f.text_field :lname, class: 'form-control' %>
    
          <%= f.label :MRN %>
          <%= f.number_field :MRN, class: 'form-control' %>
    
          <%= f.label :SSN %>
          <%= f.number_field :SSN, class: 'form-control' %>
          
          <%= f.label :birthday %>
          <%= f.date_field :birthday, class: 'form-control' %>
          
          <%= f.label :Room_number %>
          <%= f.select(:room_id, options_for_select(@room.collect{ |u| [u.rmnumber, u.id] })) %>
    
          <%= f.submit "Add New Patient", class: "btn btn-primary" %>
        <% end %>
    </div>
    
    <div id="2" class="mydivhide">
       <% Patient.all.each do |patient| %>
         <%= patient.fname %>
         <%= patient.lname %>
         <%= patient.room.rmnumber %>
       <% end %>   
    </div>
    
</div>